* {
    font-family: Cabin, Calibri, sans-serif;
    font-size: 7pt;
}

/*Sections and dividers*/
.green-background {
    width: 355px;
    height: 450px;
    padding: 0px;
    background-color: #81b29a;
}
.orders-list {
    width: 355px;
    height: 450px;
    overflow-y: scroll;
}

.order {
    display: grid;
    grid-template-columns: 10px 155px 125px 30px;
    grid-template-rows: 10px 15px 10px repeat(10, 13.5
    px) 5px 5px;
    border-radius: 6px;
    margin: 10px;
    background-color: #f4f1de;
}

span {
    display: inline;
}

.order-content {
    grid-column: 1/3;
    grid-row: 1;
    padding: 12px;
    color: #81b29a;
}

.yellow-line {
    grid-column-start: 2;
    height: 0px;
    border: 0.5pt #f2cc8f solid;
    background-color: #f2cc8f;
}

.line-1 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.line-2 {
    margin-top: 8px;
}

h4 {
    display: inline;
    font-size: 9pt;
    font-weight: bold;
    color: #3d405b;
}

.order-item p {
    display: inline;
    margin: 0px;
}

.order-item-coin {
    margin-left: 5px !important;
    font-size: 6pt;
}

.order-details {
    grid-column: 3/6;
    grid-row: 1/-1;
    padding: 10px;
    border-radius: 0px 6px 6px 0px;
    background-color: #ffffff;
    color: #3d405b;
}

.total {
    grid-column: -1;
}

button {
    grid-column: 4;
    grid-row: 1;
    border: none;
    padding: none;
    outline: none;
    font-size: 10pt;
    background-color: #ffffff;
    color: #f2cc8f;
}

.order-details p {
    margin: 0px;
}

.statement {
    margin-top: 5px !important;
}

.coin, .total-price, .hours {
    display: inline;
}

.order-detail-bold {
    font-weight: bold;
}

/*Y scroll bar*/
.orders-list::-webkit-scrollbar {
    width: 8px;
}

.orders-list::-webkit-scrollbar:increment, .orders-list::-webkit-scrollbar:decrement {
    display: none;
}

.orders-list::-webkit-scrollbar-thumb {
    background-color: #3d405b;
    border-radius: 20px;
}

.orders-list::-webkit-scrollbar-track {
    background-color: #f4f1de;
    border-radius: 10px;
}