.staff-status-background {
    width: 405px;
    height: 560px;
    border: 3pt solid #3d405b;
    border-radius: 12px;
    background-color: #ffffff;
}

.yellow-frame {
    width: 350px;
    height: 505px;
    margin: 14px;
    padding: 10px;
    border: 2pt solid #f2cc8f;
    border-radius: 10px;
    background-color: #ffffff;
}

.yellow-frame h2 {
    display: inline;
    font-weight: bold;
    font-size: 14pt;
    color: #3d405b;
}

.white-background-description {
    display: inline;
    margin: 6px;
    font-size: 9pt;
    color: #3d405b;
}

.yellow-frame hr {
    width: 345px;
    border: 0.5pt solid #81b29a;
    background-color: #81b29a
}

footer p {
    display: inline;
    margin: 10px 10px 10px 2px;
    color: #3d405b;
}


span.busy-e > svg > path  {
    color: #e07a5f;
}

div.busy-e > svg > path  {
    color: #e07a5f;
}


span.available-e > svg > path {
    color: #5b8a73;
}

div.available-e > svg > path {
    color: #5b8a73;
}

.available-e:hover .statusContainer{
    visibility: visible;
}

.busy-e:hover .statusContainer{
    visibility: visible;
}

.non-active {
    color: #848bb7;
}

body {
    margin: 0px;
    font-family: Cabin, Calibri, sans-serif;
    font-size: 8pt;
}

.kitchen-header {
    width: 265px;
    height: 20px;
    margin: 20px 0 0 22px;
    padding: 20px 20px 0px 20px;
    background-color: #f2cc8f;
}

.kitchen-header h3 {
    display: inline;
    font-size: 10pt;
    color: #3d405b;
}

.kitchen-white-highlight {
    display: inline;
    margin-left: 5px;
    padding: 4px;
    border-radius: 2px;
    background-color: #ffffff;
}

.kitchen-white-highlight p {
    display: inline;
    font-size: 7pt;
    color: #3d405b;
}

.kitchen-grid {
    display: grid;
    grid-template-columns: 20px repeat(18, 15px);
    grid-template-rows: 15px repeat(11, 10px) 20px;
    grid-gap: 0px;
    width: 305px;
    height: 150px;
    margin: 0px 0 0 22px;
    background-color: #f2cc8f;
}

/*Tables' display*/
.table {
    display: block;
    grid-row: 2;
    width: 13px;
    height: 110px;
    background-color: #f4f1de;
}

.t1 {
    grid-column: 2;
}

.t2 {
    grid-column: 6;
}

.t3 {
    grid-column: 10;
}

.t4 {
    grid-column: 14;
}

.t5 {
    grid-column: 18;
}

/*Cooks' display*/
.cook {
    display: block;
    margin: 5px;
    font-size: 12pt;
    color: #848bb7;
}

/*Cooks' column assignation*/
#cook1, #cook2, #cook3, #cook4, #cook5 {
    grid-column: 3;
}

#cook6, #cook7, #cook8, #cook9, #cook10 {
    grid-column: 5;
}

#cook11, #cook12, #cook13, #cook14, #cook15 {
    grid-column: 7;
}

#cook16, #cook17, #cook18, #cook19, #cook20 {
    grid-column: 9;
}

#cook21, #cook22, #cook23, #cook24, #cook25 {
    grid-column: 11;
}

#cook26, #cook27, #cook28, #cook29, #cook30 {
    grid-column: 13;
}

#cook31, #cook32, #cook33, #cook34, #cook35 {
    grid-column: 15;
}

#cook36, #cook37, #cook38, #cook39, #cook40 {
    grid-column: 17;
}

/*Cooks' rows assignation*/
#cook1, #cook6, #cook11, #cook16, #cook21, #cook26, #cook31, #cook36 {
    grid-row: 2;
}

#cook2, #cook7, #cook12, #cook17, #cook22, #cook27, #cook32, #cook37 {
    grid-row: 4;
}

#cook3, #cook8, #cook13, #cook18, #cook23, #cook28, #cook33, #cook38 {
    grid-row: 6;
}

#cook4, #cook9, #cook14, #cook19, #cook24, #cook29, #cook34, #cook39 {
    grid-row: 8;
}

#cook5, #cook10, #cook15, #cook20, #cook25, #cook30, #cook35, #cook40 {
    grid-row: 10;
}

/*Text containers' features according to status*/
.busyContainer {
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
    margin-top: -30px;
    padding: 0px;
    border-radius: 2px;
    background-color: #e76f51;
    color: #f4f1de;
    visibility: hidden;
}

.availableContainer {
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
    margin-top: -30px;
    padding: 0px;
    border-radius: 2px;
    background-color: #81b29a;
    color: #f4f1de;
    visibility: hidden;
}

div.empty {
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
    margin-top: -30px;
    padding: 0px;
    border-radius: 2px;
    background-color: #f4f1de;
    color: #3d405b;
}

p.busy, p.available, p.empty {
    margin: 6px;
}

/*status container's column assignation*/
#cook1status, #cook2status, #cook3status, #cook4status, #cook5status {
    grid-column-start: 4;
}

#cook6status, #cook7status, #cook8status, #cook9status, #cook10status {
    grid-column-start: 6;
}

#cook11status, #cook12status, #cook13status, #cook14status, #cook15status {
    grid-column-start: 8;
}

#cook16status, #cook17status, #cook18status, #cook19status, #cook20status {
    grid-column-start: 10;
}

#cook21status, #cook22status, #cook23status, #cook24status, #cook25status {
    grid-column-start: 12;
}

#cook26status, #cook27status, #cook28status, #cook29status, #cook30status {
    grid-column-start: 14;
}

#cook31status, #cook32status, #cook33status, #cook34status, #cook35status {
    grid-column-start: 16;
}

#cook36status, #cook37status, #cook38status, #cook39status, #cook40status {
    grid-column-end: 17;
}

/*Status container rows assignation*/
#cook1status, #cook6status, #cook11status, #cook16status, #cook21status, #cook2status, #cook31status, #cook36status {
    grid-row-start: 2;
}

#cook2status, #cook7status, #cook12status, #cook17status, #cook22status, #cook27status, #cook32status, #cook37status {
    grid-row-start: 4;
}

#cook3status, #cook8status, #cook13status, #cook18status, #cook23status, #cook28status, #cook33status, #cook38status {
    grid-row-start: 6;
}

#cook4status, #cook9status, #cook14status, #cook19status, #cook24status, #cook29status, #cook34status, #cook39status {
    grid-row-start: 8;
}

#cook5status, #cook10status, #cook15status, #cook20status, #cook25status, #cook30status, #cook35status, #cook40status {
    grid-row-start: 10;
}

/*Hover*/
span.cook:hover {
    -webkit-text-stroke: 1px #f4f1de;
}

span.busy:hover {
    color: #e76f51;
}

span.available:hover {
    color: #7ac943;
}

span.empty:hover {
    color: #848bb7;
}

body {
    margin: 0px;
    font-family: Cabin, Calibri, sans-serif;
    font-size: 8pt;
}

.warehouse-header {
    width: 265px;
    height: 30px;
    margin: 25px 0 0 22px;
    padding: 20px 20px 0px 20px;
    background-color: #f2cc8f;
}

.warehouse-header h3 {
    display: inline;
    font-size: 10pt;
    color: #3d405b;
}

.warehouse-white-highlight {
    display: inline;
    margin-left: 5px;
    padding: 4px;
    border-radius: 2px;
    background-color: #ffffff;
}

.warehouse-white-highlight p {
    display: inline;
    font-size: 7pt;
    color: #3d405b;
}

.warehouse-grid {
    display: grid;
    grid-template-columns: repeat(13, 23.5px);
    grid-template-rows: 10px repeat(10, 10px) 13.5px 30px;
    grid-gap: 0px;
    width: 305px;
    height: 150px;
    margin: 0 0 15px 22px;
    background-color: #f2cc8f;
}

/*Shelfs' display*/
.shelf {
    display: block;
    grid-row-end: 13;
    background-color: #f4f1de;
}

.sh1 {
    grid-column: 2/3;
    grid-row: 2/13;
}

.sh2 {
    grid-column: 2/13;
    grid-row: 11/13;
}

.sh3 {
    grid-column: 12/13;
    grid-row: 2/13;
}

/*Workers' display*/
.worker {
    display: block;
    margin-left: -4px;
    font-size: 12pt;
    color: #848bb7;
}

/*Workers' rows assignation*/
#worker1, #worker2, #worker3, #worker4, #worker5, #worker6, #worker7, #worker8 {
    grid-row: 2;
}

#worker9, #worker10, #worker11, #worker12, #worker13, #worker14, #worker15, #worker16 {
    grid-row: 5;
}

#worker17, #worker18, #worker19, #worker20, #worker21, #worker22, #worker23, #worker24 {
    grid-row: 8;
}

/*Workers' columns assignation*/
#worker1, #worker9, #worker17 {
    grid-column: 4;
}

#worker2, #worker10, #worker18 {
    grid-column: 5;
}

#worker3, #worker11, #worker19 {
    grid-column: 6;
}

#worker4, #worker12, #worker20 {
    grid-column: 7;
}

#worker5, #worker13, #worker21 {
    grid-column: 8;
}

#worker6, #worker14, #worker22 {
    grid-column: 9;
}

#worker7, #worker15, #worker23 {
    grid-column: 10;
}

#worker8, #worker16, #worker24 {
    grid-column: 11;
}

/*Text containers' features according to status*/
div.busy {
    z-index: 1000;
    grid-area: 2/4;
    width: 140px;
    height: 54px;
    padding: 0px;
    border-radius: 2px;
    background-color: #e76f51;
    color: #f4f1de;
}

div.available {
    z-index: 1000;
    grid-area: 2/4;
    width: 120px;
    height: 40px;
    padding: 0px;
    border-radius: 2px;
    background-color: #81b29a;
    color: #f4f1de;
}

div.empty {
    z-index: 1000;
    grid-area: 2/4;
    width: 120px;
    height: 40px;
    padding: 0px;
    border-radius: 2px;
    background-color: #f4f1de;
    color: #3d405b;
}

p.busy, p.available, p.empty {
    margin: 6px;
}

/*status container's column assignation - PARA CORREGIR*/
#cooworker1status, #worker2status, #worker3status, #worker4status, #worker5status {
    grid-column-start: 4;
}

#worker6status, #worker7status, #worker8status, #worker9status, #worker10status {
    grid-column-start: 6;
}

#worker11status, #worker12status, #worker13status, #worker14status, #worker15status {
    grid-column-start: 8;
}

#worker16status, #worker17status, #worker18status, #worker19status, #worker20status {
    grid-column-start: 10;
}

#worker21status, #worker22status, #worker23status, #worker24status, #worker25status {
    grid-column-start: 12;
}

#worker26status, #worker27status, #worker28status, #worker29status, #worker30status {
    grid-column-start: 14;
}

#worker31status, #worker32status, #worker33status, #worker34status, #worker35status {
    grid-column-start: 16;
}

#worker36status, #worker37status, #worker38status, #worker39status, #worker40status {
    grid-column-end: 17;
}

/*Status container rows assignation - PARA CORREGIR*/
#worker1status, #worker6status, #worker11status, #worker16status, #worker21status, #worker2status, #worker31status, #worker36status {
    grid-row-start: 2;
}

#worker2status, #worker7status, #worker12status, #worker17status, #worker22status, #worker27status, #worker32status, #worker37status {
    grid-row-start: 4;
}

#worker3status, #worker8status, #worker13status, #worker18status, #worker23status, #worker28status, #worker33status, #worker38status {
    grid-row-start: 6;
}

#worker4status, #worker9status, #worker14status, #worker19status, #worker24status, #worker29status, #worker34status, #worker39status {
    grid-row-start: 8;
}

#worker5status, #worker10status, #worker15status, #worker20status, #worker25status, #worker30status, #worker35status, #worker40status {
    grid-row-start: 10;
}

/*Hover*/
span.worker:hover {
    -webkit-text-stroke: 1px #f4f1de;
}

span.busy:hover {
    color: #e76f51;
}

span.available:hover {
    color: #7ac943;
}

span.empty:hover {
    color: #f4f1de;
}







h3 {
    display: inline;
    font-size: 11pt;
    font-weight: bold; 
    color: #3d405b;
}

.yellow-tag {
    display: inline;
    margin-left: 10px;
    padding: 3px;
    border-radius: 3px;
    background-color: #f2cc8f;
    color: #3d405b;
}

.a-cooks-text, .a-workers-text {
    display: inline;
    font-size: 8pt;
    color: #3d405b;
}

.a-cooks-number, .a-workers-number  {
    display: inline;
    font-weight: bold;
    color: #3d405b;
}